/* Container da timeline */
html {
  background-color: #fafafa;
}
.timeline-container {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  align-items: center;
  position: relative;
}

/* Título principal */
h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

/* Container da timeline */
.timeline {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  margin-top: 50px;
}
.pagination-info {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #2c3e50;
}

/* Ajuste a formatação do texto */
.pagination-info p {
  margin: 0;
  font-size: 14px;
}

/* Linha da timeline */
.timeline-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(
    to right,
    #ff7f7f 0%,
    #ffbf7f 20%,
    #ffff7f 40%,
    #7fff7f 60%,
    #7fbfff 80%,
    #bf7fff 100%
  );
  transform: translateY(-50%);
}

/* Item da timeline */
.timeline-item {
  position: relative;
  width: 150px;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

/* Ícone do item da timeline */
.timeline-icon {
  font-size: 40px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

/* Animação de hover no ícone */
.timeline-icon:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

/* Conteúdo do item da timeline */
.timeline-content {
  margin-top: 10px;
  text-align: center;
}

/* Ano do item da timeline */
.timeline-year {
  font-weight: bold;
  margin-top: 10px;
}

/* Título do item da timeline */
.timeline-title {
  font-size: 14px;
  color: #666;
}

/* Popup de descrição do item da timeline */
.timeline-popup {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 340px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s linear 0.5s;
}

/* Animação do popup quando ativo */
.timeline-popup.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Subtítulo */
.subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
  padding-top: px;
}

/* Controles de paginação */
.pagination-controls {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

/* Estilos para as abas */
.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

/* Botões das abas */
.tab {
  background-color: #ecf0f1; /* Cor de fundo padrão das abas */
  color: #2c3e50; /* Cor do texto padrão */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative; /* Para permitir a adição de um indicador ativo */
}

/* Indicador de aba ativa */
.tab.active::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Colocar o indicador abaixo da aba */
  left: 0;
  right: 0;
  height: 4px; /* Altura do indicador */
  background-color: #3498db; /* Cor do indicador */
  border-radius: 2px;
}

/* Estilos de hover e foco para as abas */
.tab:hover,
.tab:focus {
  background-color: #bdc3c7; /* Cor de fundo ao passar o mouse */
  outline: none; /* Remover o contorno padrão do foco */
}

/* Botões de navegação */
.pagination-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px 24px; /* Aumentar o padding para tornar o botão mais confortável ao clicar */
  border-radius: 8px; /* Aumentar o raio da borda para um efeito mais moderno */
  cursor: pointer;
  font-size: 16px;
  font-weight: bold; /* Adicionar negrito para destaque */
  text-transform: uppercase; /* Transformar o texto para maiúsculas para um visual mais limpo */
  transition: all 0.3s ease; /* Transição suave para todos os estados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicionar sombra para dar profundidade */
}

/* Animação de hover nos botões de navegação */
.pagination-button:hover {
  background-color: #2980b9;
  transform: translateY(
    -3px
  ); /* Levantar o botão para um efeito de clique mais dinâmico */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Intensificar a sombra ao passar o mouse */
}

/* Animação de foco nos botões de navegação */
.pagination-button:focus {
  outline: none; /* Remover o contorno padrão do foco */
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5); /* Adicionar uma borda de foco personalizada */
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 97%;
  max-height: 80%;
  overflow-y: auto;
  width: 70%;
  z-index: 1001;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
/* Media query for mobile devices (412x915) */
@media screen and (max-width: 412px) {
  .timeline-container {
    padding: 10px;
    padding-bottom: 100px; /* Add space at the bottom for fixed navigation */
  }
  .timeline-popup {
    display: none; /* Hide the original popup on mobile */
  }

  .modal-overlay {
    display: block; /* Show the modal overlay on mobile */
  }
  h2 {
    font-size: 20px;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .timeline {
    margin-top: 30px;
  }

  .timeline-item {
    width: 100%;
    margin-bottom: 30px;
  }

  .timeline-icon {
    font-size: 30px;
    padding: 15px;
    width: 50px;
    height: 50px;
  }

  .timeline-popup {
    width: 90%;
    max-width: 300px;
  }

  .tabs {
    flex-direction: column;
    gap: 10px;
  }

  .tab {
    width: 100%;
  }

  /* Updated styles for pagination controls and info */
  .pagination-controls {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: rgba(248, 249, 250, 0.9);
    padding: 10px 0;
    z-index: 1000;
  }

  .pagination-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .pagination-info {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(248, 249, 250, 0.9);
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
  }

  .pagination-info p {
    font-size: 12px;
    margin: 2px 0;
  }

  .timeline-line {
    display: none;
  }
}
